@import "./vendor/bootstrap/bootstrap.scss";

.credential {
    display: flex;
    flex-wrap: wrap;
}

.btn-credential-show-detail {
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    text-align: left;
    width: 100%;
}

.btn-credential-username {
    font-size: 0.9rem;
    color: #808080;
}

.btn-credential-open, .btn-credential-copy {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    .btn-credential-open, .btn-credential-copy {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .credential {
        flex-wrap: nowrap;
    }

    .btn-credential-show-detail {
        flex-grow: 1;
        justify-content: end;
    }

    .btn-credential-open, .btn-credential-copy {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100px;
    }
}

.search-input {
    position: relative;
}

#clear-search {
    position: absolute;
    top: 0;
    right: 0;
}

#spinner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #000;
    border-bottom-left-radius: 3px;
    padding: 3px 3px 1px 5px;
}

.copy-link, .copy-link:hover, .copy-link:visited, .copy-link:active {
    text-decoration: none;
}

.copied, .copy-link span.copied {
    color: $success;
}

.full {
    display: none;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .full {
        display: inline;
    }

    .truncated {
        display: none;
    }
}
