@model Vault.Models.Credential

<form asp-action="Update" asp-controller="Main" method="post" id="credential-form" class="form-horizontal" autocomplete="off">

    <!-- These fake fields are a workaround for Chrome not respecting the autocomplete attribute and autofilling fields with the wrong values... -->
    <input class="chrome-autocomplete-fake d-none" type="text" name="chromeusername" />
    <input class="chrome-autocomplete-fake d-none" type="password" name="chromepassword" />

    <div class="row mb-3">
        <label asp-for="Description" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="Description" type="text" class="form-control" autocomplete="vault-desc" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Username" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="Username" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-6">
            <input asp-for="Password" type="text" class="form-control" autocomplete="vault-pw" />
            <div class="password-strength"><span></span><div></div></div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-default generate-password" tabindex="-1">Generate</button>
            <a href="#" class="generate-password-options-toggle" tabindex="-1">Options</a>
        </div>
    </div>

    <div class="row mb-3 generate-password-options d-none">
        <label class="col-sm-6 col-form-label text-end">Password Chars</label>
        <div class="col-sm-3">
            <input class="form-control generate-password-option" id="len" name="len" value="16" />
            <input asp-for="PwdOptions" type="hidden" />
        </div>
        <div class="col-sm-3 checkbox">
            <label><input type="checkbox" class="generate-password-option" id="ucase" name="ucase" value="1" checked="checked" /> A-Z</label> &nbsp;
            <label><input type="checkbox" class="generate-password-option" id="lcase" name="lcase" value="1" checked="checked" /> a-z</label> &nbsp;
            <label><input type="checkbox" class="generate-password-option" id="nums" name="nums" value="1" checked="checked" /> 0-9</label> &nbsp;
            <label><input type="checkbox" class="generate-password-option" id="symb" name="symb" value="1" checked="checked" /> Symbols</label>
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Url" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="Url" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="UserDefined1Label" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="UserDefined1Label" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="UserDefined1" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="UserDefined1" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="UserDefined2Label" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="UserDefined2Label" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="UserDefined2" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <input asp-for="UserDefined2" type="text" class="form-control" autocomplete="vault-un" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Username" class="col-sm-3 col-form-label text-end"></label>
        <div class="col-sm-9">
            <textarea asp-for="Username" class="form-control" rows="6"></textarea>
        </div>
    </div>

    <input asp-for="CredentialID" type="hidden" />

</form>
