<div id="spinner" class="d-none">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="row d-none" id="controls">
    <div class="col-sm-8">
        <label class="visually-hidden" for="search">Search</label>
        <div class="search-input">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search..." autocomplete="off" />
            <button id="clear-search" class="btn btn-link">
                <span class="bi bi-x-lg"></span>
            </button>
        </div>
    </div>
    <div class="col-sm-2">
        <label class="visually-hidden" for="new">New Item</label>
        <button id="new" class="btn btn-primary btn-block">
            <span class="bi bi-plus"></span> New
        </button>
    </div>
    <div class="col-sm-2">
        <label class="visually-hidden" for="admin">Admin</label>
        <button id="admin" class="btn btn-default btn-block">
            <i class="bi bi-gear"></i> Admin
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="container"></div>
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="modal-content"></div>
    </div>
</div>
