.credential span {
    display: block;
}

.btn-credential-show-detail {
    flex-grow: 1;
    text-align: left;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}

.btn-credential-open, .btn-credential-copy {
    width: 100px;
}
